body, html {
  height: 100%;
  font-family: 'Montserrat';
  font-size: 100%
}

.bg { 
  /* The image used */
  background-image: url("../assets/img/header-bg.jpg");

  /* Full height & width*/
  height: 100%; 
  width: 100%; 

  /* Center and scale the image nicely */
  background-position: 30% 0; 
  background-repeat: no-repeat;
  background-size: cover;

  /* Position */
  position: fixed; 
  top: 0; 
  left: 0; 

  padding-top: 70vh;
}

.bg-text{
  color: white;
  text-align: center;
}

.bottom-text{
  vertical-align:bottom;
}

.heading{
  font-size: 6vh;
}
.subheading{
  font-size: 4vh;
}